* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: wheat;
  height: 180vh;
  margin-top: 100px; 
}

.main{
  background: white;
  width: 800px;
  height: 300px;
  margin-top: 30px;
  border-radius: 7px;
  margin-left: 500px;
}

.first{
  display: flex;
  padding: 15px;
}

.first .firstone img{
    width: 40px;
    margin-left: 10px;
}

.first .firsttwo p{
  margin-left: 10px;
}

.second{
  margin-left: 20px;
}

.second .secondone{
  font-size: 20px;
  font-weight: bold;
}

.second .secondtwo{
margin-top: 5px;
padding: 10px;
}

.third{
  display: flex;
}

.third .thirdone{
margin-left: 20px;
margin-top: 30px;
}

.third .thirdone input{
  width: 550px;
  padding: 15px;
}

.third .thirdtwo button{
  margin-top: 47px;
  margin-left: 20px;
  padding: 7px;
  width: 100px;
  font-weight: bold;
  background:lightsalmon;
  border: navajowhite;
  cursor: pointer;
  border-radius: 2px;
}



